<?php
// HTTP
define('HTTP_SERVER', 'http://{{ Web_Server }}/');

// HTTPS
define('HTTPS_SERVER', 'https://{{ Web_Server }}/');

// DIR
define('DIR_APPLICATION', '/var/www/html/catalog/');
define('DIR_SYSTEM', '/var/www/html/system/');
define('DIR_LANGUAGE', '/var/www/html/catalog/language/');
define('DIR_TEMPLATE', '/var/www/html/catalog/view/theme/');
define('DIR_CONFIG', '/var/www/html/system/config/');
define('DIR_IMAGE', '/var/www/html/image/');
define('DIR_CACHE', '/var/www/html/system/cache/');
define('DIR_DOWNLOAD', '/var/www/html/system/download/');
define('DIR_UPLOAD', '/var/www/html/system/upload/');
define('DIR_MODIFICATION', '/var/www/html/system/modification/');
define('DIR_LOGS', '/var/www/html/system/logs/');

// DB
define('DB_DRIVER', 'mysqli');
define('DB_HOSTNAME', '{{ SQL_Server }}');
define('DB_USERNAME', '{{ my_db_user }}');
define('DB_PASSWORD', '{{ DB_PASSWORD }}');
define('DB_DATABASE', '{{ DB_DATABASE }}');
define('DB_PORT', '{{ DB_PORT }}');
define('DB_PREFIX', 'oc_');
