#!/bin/bash
mysql -h db-opencart.mysql.database.azure.com -u my_db_user -pDusLab123! -e "CREATE DATABASE {{  DB_DATABASE }};"
mysql -h db-opencart.mysql.database.azure.com -u my_db_user -pDusLab123! -e "CREATE USER 'opencartuser'@'{{ Web_Server }}' IDENTIFIED BY '{{ DB_PASSWORD }}';"
mysql -h db-opencart.mysql.database.azure.com -u my_db_user -pDusLab123! -e "GRANT ALL PRIVILEGES ON opencartdb.* TO 'opencartuser'@'{{ Web_Server }}';"
mysql -h db-opencart.mysql.database.azure.com -u my_db_user -pDusLab123! -e "FLUSH PRIVILEGES;"
 
mysql -h db-opencart.mysql.database.azure.com -u my_db_user -pDusLab123!  opencartdb < opencartdb-dump4AZ.sql 